@model Dictionary<string, string>

@{
    ViewData["Title"] = "WebStatus Configuration";
}

<h1>Configuration Values</h1>

<table>
    @foreach (KeyValuePair<string, string> item in Model)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value</td>
        </tr>
    }
</table>